/* miniorange custom styles */


/* fix size of  miniorange SSO button on login page */
#mo_saml_button {
	height:9em !important;
}

#mo_saml_login_sso_button {
	height:4em;
}

/* fix color of miniorange SSO button on login page */
#mo_saml_login_sso_button {
	background-color:#005239;
	border-color:#005239;
}

/* add hover color for miniorange SSO button on login page */
#mo_saml_login_sso_button:hover {
	background-color:#338261;;
}

/* if we're set to hide the regular WordPress login form... */
body.login.gmuw_hideloginform {

	/* remove extra space from botton of SSO login button*/
	#mo_saml_login_sso_button {
		margin-bottom:unset !important;
	}

	/* hide regular log in form elements */
	#loginform p,
	#loginform .user-pass-wrap {
		display:none;
	}

	/* hide miniorange "or" paragraph */
	#mo_saml_button div:nth-of-type(2) {
		display:none;
	}

	/* make miniorange area height not bigger */
	#mo_saml_button {
		height:unset !important;
	}

	/* hide forgot password link */
	#login p#nav:has(a.wp-login-lost-password) {
		display:none;
	}

}

/* if we're set to hide the WordPress login page back link... */
body.login.gmuw_hideloginbacklink {

	/* hide the WordPress login page back link */
	#backtoblog {
		display:none;
	}

}
